* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.banner-1 {
    background-image: url(./imgs/anh1.jpg);
    height: 521px;
    height: 621px;
    background-size: cover;
    background-repeat: no-repeat;
}
.inner-content {
    position: absolute;
    left: 100px;
    bottom: 100px;
    /* border-top: 1px solid #fff; */
    width: 400px;
    color: #fff;
}
.inner-content .line {
    width: 100px;
    height: 1px;
    background-color: #fff;
}
.inner-content .inner-icons{
    font-size: 20px;
    display: flex ;
    gap: 20px;
    margin-top: 20px;color: #fff;
}